{% extends "layouts/main.html" %}

{% block content%}

<body>

<div class="main" id="newpost">
  <img style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}" alt="">

</div>

  <div class="top-right-logo">
  	<a></a>Raspberry Pi - Camera Stream
  </div>


<div class="navbar">

    <div class="ignoreCall">
          <a id=decline class="but_def">
              <button id="button" value="Show/Hide Video Stream" class="btn btn-default"></button>
         </a>
    </div>

    <div class="picture">
          <a href=# id=take-picture class="picture_class">
              <button id="take-picture-button" onclick="take_picture()" value="Take Picture" class="btn btn-default"></button>
         </a>
    </div>

    <div>
          <a id=lock-door>
              <button id="lock-door-button" onclick="lock_door()" value="Lock Door" class="btn btn-default"></button>
         </a>
    </div>

    <div>
          <a id=unlock-door>
              <button id="unlock-door-button" onclick="unlock_door()" value="Unlock Door" class="btn btn-default"></button>
         </a>
    </div>
</div>



</body>


{% endblock %}