{% extends "layouts/main.html" %}

{% block content%}

<body>

<div class="main" id="newpost">
  <img style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}" alt="">

</div>

  <div class="top-right-logo">
  	<a></a>Raspberry Pi - Camera Stream
  </div>


<div class="navbar">

    <div class="ignoreCall">
          <a id=decline class="but_def">
              <button id="button" value="Show/Hide Video Stream" class="btn btn-default">Show/Hide Video Stream</button>
         </a>
    </div>

    <div>
          <a id=lock-door>
              <button id="lock-door-button" onclick="lock_door()" class="btn btn-default">Lock Door</button>
         </a>
    </div>

    <div>
          <a id=unlock-door>
              <button id="unlock-door-button"onclick="unlock_door()" class="btn btn-default">Unlock Door</button>
         </a>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">

// stop stream
var button = document.getElementById('button');

button.onclick = function() {
    var div = document.getElementById('newpost');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

</script>


<script type="text/javascript">
$(function() {
  $('a#unlock-door').on('click', function(e) {
    e.preventDefault()
    $.getJSON('/unlock_door',
        function(data) {
      //do nothing
    });
    return false;
  });
});

</script>

<script type="text/javascript">

$(function() {
  $('a#lock-door').on('click', function(e) {
    e.preventDefault()
    $.getJSON('/lock_door',
        function(data) {
      //do nothing
    });
    return false;
  });
});

</script>

<script type="text/javascript">
// take picture
var button = document.getElementById('take-pica-button');

button.onclick = function() {
    var div = document.getElementById('newpost');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};


</script>

</body>


{% endblock %}